{
	email hello@nightzeros.com
}

app.nightzeros.com {
	request_body {
		max_size 25MB
	}

	reverse_proxy chatai:3000 {
		flush_interval -1
		transport http {
			read_timeout 300s
			write_timeout 300s
		}
		header_up Host {host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
	}
}
